<div class="os-pde-container">
  <div class="os-pde-home">
    <div class="os-page-header">
      <div class="clearfix">
        <div class="os-page-header-inner">
          <div class="os-page-header-content-wrapper">
            <div class="os-page-header-content">
              <h3>{{ctx.fdeToken.cpShortTitle}} / {{ctx.fdeToken.recordLabel}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <form name="pdeForm" os-form-validator="pdeForm" novalidate style="position: relative;" ng-if="!ctx.saved">
        <div class="clearfix">
          <div class="col-xs-12">
            <div id="de-form" class="os-extn-form" os-de-form opts="ctx.fdeToken"> </div>
          </div>
        </div>
      </form>
      <div class="panel panel-default" ng-if="ctx.saved">
        <div class="panel-heading">
          <span>{{ctx.fdeToken.formDef.caption}}</span>
        </div>
        <div class="panel-body">
          <span translate="extensions.thank_you_patient">Thank you</span>
        </div>
      </div>
    </div>
  </div>
</div>
