<div class="os-full-height-container clearfix">
  <div class="os-full-height-container col-xs-12">
    <div class="os-detail-sublist">
      <div class="os-page-commands">
        <div class="left">
          <button ui-sref="order-addedit({allReservedSpmns: true, dpId: distributionProtocol.id})"
            show-if-allowed="lctx.orderCreateOpts" class="default">
            <span class="fa fa-share"></span>
            <span translate="dp.distribute_all">Distribute All</span>
          </button>

          <button show-if-allowed="lctx.orderCreateOpts" ng-if="lctx.listCtrl.checkList.anySelected" class="default"
            ng-click="distributeSpecimens()">
            <span class="fa fa-share"></span>
            <span translate="dp.distribute">Distribute</span>
          </button>

          <button show-if-allowed="lctx.orderCreateOpts" ng-if="lctx.listCtrl.checkList.anySelected" class="default"
            ng-click="cancelReservation()">
            <span class="fa fa-times"></span>
            <span translate="dp.cancel_reservation">Cancel Reservation</span>
          </button>
        </div>

        <div class="right" ng-if="lctx.showSearch">
          <button class="default" os-right-drawer-toggle title="{{'common.buttons.search' | translate}}">
            <span class="fa fa-search"></span>
            <span translate="common.buttons.search">Search</span>
          </button>
        </div>
      </div>

      <div class="os-container-wrapper">
        <div>
          <os-list params="lctx.params" item-sref="specimen({specimenId: row.hidden.specimenId})"
            enable-selection="true" show-item="showSpecimen(row)" init-ctrl="setListCtrl($list)">
          </os-list>
        </div>
      </div>
    </div>
  </div>
</div>
