<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="border-collapse:collapse;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello $rcpt.firstName $rcpt.lastName,
                  <br><br>
                  One or more recent specimens store/retrieve from automated freezers failed. Please download the attached CSV file for more details.
                  <br>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td> Failed to Store </td>
                    <td> : $failedStores </td>
                  </tr>
                  <tr>
                    <td> Failed to Retrieve  </td>
                    <td> : $failedRetrieves </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        #parse( $footer )
      </td>
    <tr>
  </tbody>
</table>
