<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello $participantName,
                  <br><br>
                  We would like to thank you for participating in the study <b>$cpShortTitle</b>.

                  #if ($reminder)
                    This is a gentle reminder to fill up the below #if($tokens.size() > 1)forms#{else}form#end:
                  #else
                    #if ($tokens.size() > 1)
                      Click on the below links to fill up the forms.
                    #else
                      Click on the below link to fill up the form.
                    #end
                  #end
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  #foreach ($token in $tokens)
                    <tr>
                      <td>
                        <a href="$token.dataEntryLink" target="_blank">$token.formCaption</a>
                      </td>
                    </tr>
                  #end
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <p>The links will be active until $expiryTime.</p>
              </td>
            </tr>
            <tr>
              <td style="height:5px;line-height:5px;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    </tr>
  </tbody>
</table>
