<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <h3 translate="cp.list">Collection Protocols</h3>
    </div>
    <div class="os-page-header-actions">
      <os-list-pager opts="pagerOpts"> </os-list-pager>
    </div>
  </div>

  <div class="os-page-commands">
    <div class="left">
      <div ng-if="!ctx.checkList.anySelected">
        <div ng-include="'modules/biospecimen/cp/single-cp-ops.html'"></div>
      </div>

      <div ng-if="ctx.checkList.anySelected">
        <div ng-include="'modules/biospecimen/cp/bulk-cp-ops.html'"></div>
      </div>
    </div>
    <div class="right">
      <button class="default" os-right-drawer-toggle title="{{'cp.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>
   
  <div class="container">
    <div class="alert alert-info os-lean-box" ng-show="ctx.checkList.count > 0">
      <span> {{'common.items_selected_info' | translate: ctx.checkList}} </span>
    </div>

    <table class="os-table os-table-hover">
      <thead class="os-table-head">
        <tr class="row">
          <th show-if-allowed="cpResource.deleteOpts" class="col os-click-esc">
            <div class="os-select-specimen-cb">
              <os-checkbox ng-change="ctx.checkList.toggleSelectAll()" ng-model="ctx.checkList.allSelected">
              </os-checkbox>
            </div>
          </th>
          <th class="col os-desc-column">
            <span translate="cp.title">Title</span>
          </th>
          <th class="col">
            <span translate="cp.pi">Principal Investigator</span>
          </th>
          <th class="col">
            <span translate="cp.start_date">Start Date</span>
          </th>
          <th class="col">
            <span translate="cp.participant_count">Participants</span>
          </th>
          <th class="col">
            <span translate="cp.specimen_count">Specimens</span>
          </th>
          <th class="col">
            <span>&nbsp;</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="cp in cpList" os-row-click="showCpSummary(cp)">
          <td show-if-allowed="cpResource.deleteOpts" class="col os-click-esc">
            <div class="os-select-specimen-cb">
              <os-checkbox ng-change="ctx.checkList.toggleSelectItem($index)"
                ng-model="ctx.checkList.items[$index].selected">
              </os-checkbox>
            </div>
          </td>
          <td class="col os-desc-column">
            <a ui-sref="cp-summary-view({cpId: cp.id})">
              <span>{{cp.shortTitle}}</span>
              <span ng-if="!!cp.code">({{cp.code}})</span>
            </a>
          </td>
          <td class="col">
            <span>{{cp.principalInvestigator | osUserDisplayName}}</span>
          </td>
          <td class="col">
            <span>{{cp.startDate | date: global.dateFmt}}</span>
          </td>
          <td class="col" ng-switch on="!cp.specimenCentric">
            <a ng-switch-when="true" ui-sref="participant-list({cpId: cp.id})" ng-if="!cp.specimenCentric"
              os-tooltip="{{'cp.view_participants' | translate}}">
              <span>{{cp.participantCount | number: 0}}</span>
            </a>
            <span ng-switch-when="false" translate="common.na"></span>
          </td>
          <td class="col">
            <a ui-sref="cp-specimens({cpId: cp.id})" os-tooltip="{{'cp.view_specimens' | translate}}">
              <span>{{cp.specimenCount | number: 0}}</span>
            </a>
          </td>
          <td class="col os-click-esc">
            <div class="os-more-option-btns">
              <button class="btn btn-xs btn-default" os-tooltip="{{'cp.view_details' | translate}}"
                ui-sref="cp-detail.overview({cpId: cp.id})">
                <span class="fa fa-eye"></span>
              </button>
              <button class="btn btn-xs btn-default" os-tooltip="{{'cp.view_catalog' | translate}}"
                ui-sref="ssc-catalog-dashboard({catalogId: cp.catalogId, cpId: cp.id})" ng-if="!!cp.catalogId">
                <span class="fa fa-table"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div os-right-drawer ng-include="'modules/biospecimen/cp/search.html'"></div>

</div>

<script type="text/ng-template" id="modules/biospecimen/cp/single-cp-ops.html">
  <div>
    <button show-if-allowed="cpResource.createOpts" class="default" ui-sref="cp-addedit({cpId: ''})">
      <span class="fa fa-plus"></span>
      <span translate="common.buttons.create">Create</span>
    </button>

    <os-plugin-hooks view-name="'cp-list'" sec-name="'page-header'"></os-plugin-hooks>

    <ng-include src="'modules/biospecimen/cp/more-menu.html'"></ng-include>

    <os-help class="os-btns btn default" link="cp_help_link"></os-help>
  </div>
</script>

<script type="text/ng-template" id="modules/biospecimen/cp/bulk-cp-ops.html">
  <div>
    <button class="default" title="{{'user.tooltip.delete_cps' | translate}}" ng-click="deleteCps()">
      <span class="fa fa-trash"></span>
      <span translate="common.buttons.delete">Delete</span>
    </button>
  </div>
</script>
