<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="cp-list">
            <span translate="cp.list">Collection Protocols</span>
          </a>
        </li>
        <li>
          <a ui-sref="cp-list-view({cpId: cp.id})">
            <span>{{cp.shortTitle}}</span>
          </a>
        </li>
      </ul>
      <h3>
        <span>Mobile Data Uploads</span>
      </h3>
    </div>

    <div class="os-page-header-actions"> </div>
  </div>

  <div class="os-page-commands">
    <button class="default" ui-sref="mobile-upload-data({cpId: cp.id})">
      <span class="fa fa-upload"></span>
      <span translate="common.buttons.upload">Upload</span>
    </button>
  </div>

  <div class="container" ng-switch on="ctx.jobs.length > 0">
    <span ng-switch-when="false" translate="bulk_imports.no_jobs">
      No jobs to show
    </span>
    <table class="os-table" ng-switch-when="true">
      <thead class="os-table-head">
        <tr class="row">
          <th class="col">
            <span translate="bulk_imports.job_id">Job ID</span>
          </th>
          <th class="col">
            <span translate="bulk_imports.submitted_by">Submitted By</span>
          </th>
          <th class="col">
            <span translate="bulk_imports.submit_time">Submit Time</span>
          </th>
          <th class="col">
            <span translate="bulk_imports.finish_time">Finish Time</span>
          </th>
          <th class="col">
            <span translate="bulk_imports.processed_records">Success</span>
          </th>
          <th class="col">
            <span translate="bulk_imports.failed_records">Failed</span>
          </th>
          <th class="col">
            <span translate="bulk_imports.status">Status</span>
          </th>
          <th class="col os-col-5">
            <span>&nbsp;</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="job in ctx.jobs">
          <td class="col">
            <span>#{{job.id}}</span>
          </td>
          <td class="col">
            <span>{{job.createdBy.firstName}} {{job.createdBy.lastName}}</span>
          </td>
          <td class="col">
            <span>{{job.creationTime | date: global.dateTimeFmt}}</span>
          </td>
          <td class="col">
            <span ng-show="!!job.endTime">{{job.endTime | date: global.dateTimeFmt}}</span>
          </td>
          <td class="col">
            <span>{{job.totalRecords - job.failedRecords}}</span>
          </td>
          <td class="col">
            <span>{{job.failedRecords}}</span>
          </td>
          <td class="col">
            <span translate="bulk_imports.status_{{job.status}}"></span>
          </td>
          <td class="col">
            <div class="btn-group btn-group-xs">
              <div class="btn btn-default" title="{{'bulk_imports.tooltip.download' | translate}}">
                <a href="{{job.outputFileUrl}}" target="_blank" rel="noopener">
                  <span class="fa fa-download"></span>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pager total-items="pagingOpts.totalJobs" items-per-page="pagingOpts.jobsPerPage"
      ng-model="pagingOpts.currPage" ng-switch-when="true">
    </pager>
  </div>
</div>
