
<div class="os-modal">
  <div class="os-modal-header">
     <span translate="orders.dist_details">Distribution Details</span>
  </div>
  <form name="dpForm" class="form-horizontal" os-form-validator="dpForm" validator="dpFormValidator" novalidate>
    <div class="os-modal-body">
      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="orders.dp">Distribution Protocol</span>
        </label>
        <div class="col-xs-9">
          <os-select name="dp" ng-model="ctx.dp" list="ctx.dps" display-prop="shortTitle" refresh="loadDps"
            placeholder="{{'orders.dp' | translate}}" required>
          </os-select>
          <div os-field-error field="dpForm.dp"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="orders.comments">Comments</span>
        </label>
        <div class="col-xs-9">
          <textarea name="comments" class="form-control" ng-model="ctx.comments"
            placeholder="{{'orders.comments' | translate}}" rows="2">
          </textarea>
        </div>
      </div>
    </div>
    <div class="os-modal-footer">
      <button class="btn os-btn-text" ng-click="cancel()">
        <span translate="common.buttons.cancel">Cancel</span>
      </button>
      <button class="btn btn-primary" os-form-submit="reserve()">
        <span translate="orders.buttons.reserve">Reserve</span>
      </button>
      <button class="btn btn-primary" os-form-submit="distribute()" ng-hide="ctx.hideDistributeBtn">
        <span translate="orders.buttons.distribute">Distribute</span>
      </button>
    </div>
  </form>
</div>
