<div class="clearfix">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>{{event.caption}} #{{event.id}}</span>
        <span class="btn os-status-info" style="margin-bottom: 0px;"
          os-tooltip="{{'specimens.sys_event_help' | translate}}"
          ng-show="event.appData.sysForm == 'true' || event.appData.sysForm == true">
          <span translate="specimens.sys_event">System Event</span>
        </span>
        <span class="os-btns">
          <span ng-show="specimen.activityStatus != 'Closed' && event.isEditable"
            show-if-allowed="specimenResource.updateOpts">
            <button class="btn btn-primary" ui-sref="specimen-detail.extensions.addedit({spe: true,
              formId: event.containerId, formCtxId: event.appData.formCtxtId, recordId: event.id})">
              <span class="fa fa-pencil"></span>
              <span translate="common.buttons.edit">Edit</span>
            </button>
            <button class="btn btn-danger" ng-show="event.isDeletable" ng-click="deleteEvent(event)">
              <span class="fa fa-trash"></span>
              <span translate="common.buttons.delete">Delete</span>
            </button>
            <button class="btn btn-default"
              ng-show="event.appData.sysForm != 'true' && event.appData.sysForm != true &&
                (event.appData.multiRecord == 'true' || event.appData.multiRecord == true)"
              ui-sref="specimen-detail.extensions.addedit({spe: true, formId: event.containerId,
                formCtxId: event.appData.formCtxtId})">
              <span class="fa fa-plus"></span>
              <span translate="common.buttons.add_another">Add Another</span>
            </button>
          </span>
          <button class="btn btn-default" ng-click="back()">
            <span class="fa fa-arrow-left"></span>
            <span translate="common.buttons.back">Back</span>
          </button>
        </span>
      </div>
      <div class="panel-body">
        <div>
          <os-form-data data="event"></os-form-data>
        </div>
      </div>
    </div>
  </div>
</div>
