<form name="retrieveSpmns" class="form-horizontal" os-form-validator="retrieveSpmns" novalidate>
  <div class="os-modal">
    <div class="os-modal-header">
      <span>{{'specimen_list.retrieve_specimens' | translate}}</span>
    </div>
    <div class="os-modal-body">
      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="specimens.bulk_transfer.time">Date</span>
        </label>
        <div class="col-xs-9">
          <div class="os-date-time clearfix">
            <div class="os-col-65 input os-no-padding">
              <os-date-picker date="input.transferTime" placeholder="{{'specimens.bulk_transfer.time' | translate}}">
              </os-date-picker>
            </div>
            <div class="os-col-35">
              <timepicker ng-model="input.transferTime" class="os-time-no-wheels" show-meridian="false">
              </timepicker>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="specimens.bulk_transfer.comments">Comments</span>
        </label>
        <div class="col-xs-9">
          <textarea class="form-control" rows="2" ng-model="input.transferComments"
            placeholder="{{'specimens.bulk_transfer.comments' | translate}}">
          </textarea>
        </div>
      </div>

      <div class="os-modal-footer">
        <button class="btn os-btn-text" ng-click="cancel()">
          <span translate="common.buttons.cancel">Cancel</span>
        </button>
        <button class="btn btn-primary" os-form-submit="retrieve()">
          <span translate="specimen_list.retrieve_specimens">Retrieve</span>
        </button>
      </div>
    </div>
  </div>
</form>
