<div os-show-if-menu-items-present dropdown class="os-inline-btn">
  <button class="btn btn-default default dropdown-toggle">
    <span>{{title | translate}}</span>
    <span class="fa fa-caret-down"></span>
  </button>

  <ul class="dropdown-menu" ng-class="{'dropdown-menu-right': dropdownRight}">
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="editSpecimens()">
        <span class="fa fa-pencil"></span>
        <span translate="common.buttons.edit">Edit</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="printSpecimenLabels()">
        <span class="fa fa-print"></span>
        <span translate="common.buttons.print">Print</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenDeleteOpts">
      <a ng-click="deleteSpecimens()">
        <span class="fa fa-trash"></span>
        <span translate="common.buttons.delete">Delete</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="closeSpecimens()">
        <span class="fa fa-remove"></span>
        <span translate="common.buttons.close"> Close </span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.orderCreateOpts" ng-if="allowDistribution">
      <a ng-click="distributeSpecimens()">
        <span class="fa fa-share"></span>
        <span translate="specimen_list.distribute">Distribute</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.orderCreateOpts" ng-if="allowDistribution && !cp">
      <a ng-click="reserveSpecimens()">
        <span class="fa fa-ban"></span>
        <span translate="specimen_list.reserve">Reserve</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.shipmentCreateOpts">
      <a ng-click="shipSpecimens()">
        <span class="fa fa-paper-plane-o"></span>
        <span translate="specimen_list.ship">Ship</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="createAliquots()">
        <span class="fa fa-share-alt"></span>
        <span translate="specimen_list.create_aliquots">Create Aliquots</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="createDerivatives()">
        <span class="fa fa-flask"></span>
        <span translate="specimen_list.create_derivatives">Create Derivatives</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="addEvent()">
        <span class="fa fa-calendar-o"></span>
        <span translate="specimen_list.add_event">Add Event</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="transferSpecimens()">
        <span class="fa fa-arrows-h"></span>
        <span translate="specimen_list.transfer_specimens">Transfer Specimens</span>
      </a>
    </li>
    <li show-if-allowed="resourceOpts.specimenUpdateOpts">
      <a ng-click="retrieveSpecimens()">
        <span class="fa fa-reply"></span>
        <span translate="specimen_list.retrieve_specimens">Retrieve</span>
      </a>
    </li>
  </ul>
</div>
