<div class="os-full-width-container" ng-controller="QuickSearchCtrl">
  <div class="os-no-label-form">
    <div ng-hide="ctx.searching" class="placeholder" ng-click="activateSearch()">
      <span class="fa fa-search"></span>
      <span translate="search.title"></span>
      <input class="form-control">
    </div>

    <ui-select ng-hide="!ctx.searching" os-fix-dd ng-model="ctx.selectedMatch" reset-search-input="true"
      on-select="onMatchSelect($select)">
      <ui-select-match> </ui-select-match>
      <ui-select-choices ui-disable-choice="match.id < 0" repeat="match in ctx.matches"
        refresh="search($select.search, $select)" refresh-delay="750">
        <div class="row">
          <div ng-class="{'true': 'col-xs-5', 'false': 'ng-hide'}[match.id > 0]">
            <small>{{match.group}}</small>
          </div>
          <div ng-class="{'true': 'col-xs-7', 'false': 'col-xs-12'}[match.id > 0]">
            <span class="fa fa-graduation-cap" ng-show="match.id == 0"></span>
            <span ng-bind-html="match.caption | highlight: $select.search"></span>
          </div>
        </div>
        <div class="row" ng-show="!!match.props">
          <div class="col-xs-5">&nbsp;</div>
          <div class="col-xs-7">
            <small>{{match.props}}</small>
          </div>
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
