<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="cp-list-view({cpId: ctx.cp.id})">
            <span>{{ctx.cp.shortTitle}}</span>
          </a>
        </li>
        <li>
          <a ui-sref="participant-list({cpId: ctx.cp.id})">
            <span translate="participant.list">Participants</span>
          </a>
        </li>
      </ul>

      <h3>
        <span translate="participant.email_forms">Email Forms</span>
      </h3>
    </div>
  </div>

  <div class="container">
    <div os-wizard="emailWizard" type="classic">
      <os-wizard-step title="{{'participant.select_participants' | translate}}" on-finish="passThrough()">
        <div ng-include src="'modules/biospecimen/participant/email-participants-list.html'"></div>
      </os-wizard-step>

      <os-wizard-step title="{{'participant.select_forms' | translate}}" on-finish="passThrough()">
        <div ng-include src="'modules/biospecimen/participant/email-forms-detail.html'"></div>
      </os-wizard-step>
    </div>
  </div>
</div>

<script type="text/ng-template" id="modules/biospecimen/participant/email-participants-list.html">
  <form name="participantsForm" class="form-horizontal os-no-label-form"
    os-form-validator="participantsForm" validator="participantsFormValidator" novalidate>

    <div class="os-alert-container inline" ng-if="ctx.participants.length == 0">
      <div class="alert alert-danger">
        <span translate="participant.no_participants_selected">
          No participants in the emailing list. Add at least one participant having email address.
        </span>
      </div>
    </div>

    <os-add-items ctrl="input" on-add="addParticipants(itemLabels)"
      placeholder="{{'participant.ppids_csv' | translate}}">
    </os-add-items>

    <table class="os-table bulk-edit" ng-if="ctx.participants.length > 0">
      <thead class="os-table-head">
        <tr class="row">
          <th class="col">
            <span translate="participant.ppid">PPID</span>
          </th>
          <th class="col">
            <span translate="participant.name">Name</span>
          </th>
          <th class="col">
            <span translate="participant.reg_date">Registration Date</span>
          </th>
          <th class="col">
            <span translate="participant.email_address">Email Address</span>
          </th>
          <th class="col">
            <span>&nbsp;</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="p in ctx.participants" ng-class="{'alert-danger': !p.participant.emailAddress}">
          <td class="col">
            <a ui-sref="participant-detail.overview({cpId: ctx.cp.id, cprId: p.cprId})" target="_blank" rel="noopener">
              <span>{{p.ppid}}<span>
            </a>
          </td>
          <td class="col">
            <span> 
              {{((p.participant.firstName || '') + ' ' +  (p.participant.lastName || '')) | osNoValue}}
            </span>
          </td>
          <td class="col">
            <span>{{p.registrationDate | date: global.dateFmt}}</span>
          </td>
          <td class="col">
            <span>{{p.participant.emailAddress | osNoValue}}</span>
          </td>
          <td class="col">
            <button class="btn btn-xs btn-default" ng-click="removeParticipant($index)">
              <span class="fa fa-remove"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="os-divider"></div>

    <div class="form-group right-btns">
      <div class="col-xs-offset-3 col-xs-9">
        <button class="btn os-btn-text" ng-click="back()">
          <span translate="common.buttons.cancel">Cancel</span>
        </button>

        <button class="btn btn-primary" os-form-submit="emailWizard.next(false)"
          ng-disabled="ctx.participants.length == 0 || ctx.noEmailAddresses">
          <span translate="common.buttons.next"> Next </span>
        </button>
      </div>
    </div>
  </form>
</script>

<script type="text/ng-template" id="modules/biospecimen/participant/email-forms-detail.html">
  <form name="formsDetail" class="form-horizontal"
    os-form-validator="formsDetail" validator="formsDetailValidator" novalidate>

    <div class="form-group">
      <label class="control-label col-xs-3">
        <span translate="participant.select_forms">Select forms</span>
      </label>
      <div class="col-xs-6">
        <os-select ng-model="ctx.selectedForms" display-prop="caption" group-by="'group'" list="ctx.forms" multiple>
        </os-select>
      </div>
    </div>

    <div class="os-divider"></div>

    <div class="form-group right-btns">
      <div class="col-xs-offset-3 col-xs-9">
        <button class="btn os-btn-text" ng-click="back()">
          <span translate="common.buttons.cancel">Cancel</span>
        </button>

        <button class="btn os-btn-secondary" ng-click="emailWizard.previous(false)">
          <span translate="common.buttons.previous">Previous</span>
        </button>

        <button class="btn btn-primary" os-form-submit="emailFormLinks()" ng-disabled="ctx.selectedForms.length == 0">
          <span translate="common.buttons.submit">Submit</span>
        </button>
      </div>
    </div>
  </form>
</script>
