<div ng-if="!cp.specimenCentric && listViewCtx.showPrimaryBtnDd"
  dropdown class="os-inline-btn" os-show-if-menu-items-present>
  <button class="default dropdown-toggle" title="{{'participant.tooltip.register' | translate}}"
    ui-sref="participant-addedit({cprId: -1, cpId: cp.id})">
    <span class="fa fa-plus"></span>
    <span translate="participant.buttons.register">Register</span>
  </button>

  <ul class="dropdown-menu">
    <li ng-if="cp.activityStatus != 'Closed'" show-if-allowed="partRegOpts">
      <a ui-sref="participant-addedit({cprId: -1, cpId: cp.id})">
        <span class="fa fa-user"></span>
        <span translate="participant.buttons.single">Single</span>
      </a>
    </li>
    <li ng-if="cp.activityStatus != 'Closed' && !!cp.bulkPartRegEnabled" show-if-allowed="partRegOpts">
      <a ui-sref="participant-bulkreg">
        <span class="fa fa-users"></span>
        <span translate="participant.buttons.multiple">Multiple</span>
      </a>
    </li>
    <li ng-if="cp.activityStatus != 'Closed'" class="divider"></li>
    <os-plugin-hooks view-name="'participant-list'" sec-name="'primary-button'"></os-plugin-hooks>
  </ul>
</div>

<button ng-if="cp.activityStatus != 'Closed' && !cp.specimenCentric && !listViewCtx.showPrimaryBtnDd"
  show-if-allowed="partRegOpts" class="default" title="{{'participant.tooltip.register' | translate}}"
  ui-sref="participant-addedit({cprId: -1, cpId: cp.id})">
  <span class="fa fa-plus"></span>
  <span translate="participant.buttons.register">Register</span>
</button>

<button ng-if="cp.specimenCentric && listViewCtx.ctrl.showAddSpmn"
  show-if-allowed="listViewCtx.ctrl.resourceOpts.specimenUpdateOpts" class="default"
  ui-sref="specimen-addedit({cpId: cp.id, visitId: -1, cprId: -1})">
  <span class="fa fa-plus"></span>
  <span translate="specimens.buttons.add_specimen">Add Specimen</span>
</button>
