<div class="form-group">
  <div>
    <input type="text" os-md-input name="ppid" ng-model="searchData.ppid"
      class="form-control" placeholder="{{'participant.protocol_id' | translate}}"
      ng-disabled="searchData.participantId || searchData.name" autofocus>
    <div os-field-error field="searchForm.ppid"></div>
  </div>
</div>

<div ng-if="userCtx.hasPhiAccess">
  <div class="form-group">
    <input type="text" os-md-input name="participantId" ng-model="searchData.participantId"
      class="form-control" placeholder="{{'participant.id' | translate}}"
      ng-disabled="searchData.ppid || searchData.name">
    <div os-field-error field="searchForm.participantId"></div>
  </div>

  <div class="form-group">
    <input type="text" os-md-input name="name" ng-model="searchData.name"
      class="form-control" placeholder="{{'participant.name' | translate}}"
      ng-disabled="searchData.ppid || searchData.participantId">
    <div os-field-error field="searchForm.name"></div>
  </div>
</div>
