<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="vpawar" id="Setting to specify the text to use for displaying unspecified field values">
    <sql>
      call add_cfg_prop(
        'common', 'not_specified_text',
        'not_specified_text', 'not_specified_text_desc',
        'STRING', 'messageKey: common.not_specified'
      );
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Saved query to use for cart specimens report">
    <sql>
      call add_cfg_prop(
        'common', 'cart_specimens_rpt_query',
        'cart_specimens_rpt_query', 'cart_specimens_rpt_query_desc',
        'INT', ''
      );
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Setting to specify maximum number of specimens allowed in distribution UI">
    <sql>
      call add_cfg_prop(
        'administrative', 'max_order_spmns_ui_limit',
        'max_order_spmns_ui_limit', 'max_order_spmns_ui_limit_desc',
        'INT', '100'
      );
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Setting to enable or disable relabeling of specimens when shipments are received">
    <sql>
      call add_cfg_prop(
        'administrative', 'allow_spmn_relabeling',
        'allow_spmn_relabeling', 'allow_spmn_relabeling_desc',
        'BOOLEAN', 'false'
      );
    </sql>
  </changeSet>
</databaseChangeLog>
