<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="single" id="Default name format for the planned visits">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'visit_name_format',
        'visit_name_format', 'visit_name_format_desc',
        'STRING', '%PPI%_%EVENT_LABEL%_%SYS_UID%'
      );
    </sql>
  </changeSet>

  <changeSet author="single" id="Default name format for the unplanned visits">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'unplanned_visit_name_format',
        'unplanned_visit_name_format', 'unplanned_visit_name_format_desc',
        'STRING', '%PPI%_%SYS_UID%'
      );
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Temporary changeset to remove the unwanted config settings">
    <sql>
      delete from
        os_cfg_settings
      where
        property_id in (
          select
            identifier
          from
            os_cfg_props
          where
            name in ('def_visit_name_fmt', 'def_unplan_visit_name_fmt')
        )
    </sql>

    <sql>
      delete from
        os_cfg_props
      where
        name in ('def_visit_name_fmt', 'def_unplan_visit_name_fmt')
    </sql>
  </changeSet>
</databaseChangeLog>
